<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1033869789541-okkt75m42rufhu1npl3lqg9f970kpvui.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1033869789541-okkt75m42rufhu1npl3lqg9f970kpvui</string>
	<key>API_KEY</key>
	<string>AIzaSyAQR0EEMag0cyeUySNaEjVLEP55SQ_z6PU</string>
	<key>GCM_SENDER_ID</key>
	<string>1033869789541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kamyonetkurye</string>
	<key>PROJECT_ID</key>
	<string>kamyonetkurye-1d768</string>
	<key>STORAGE_BUCKET</key>
	<string>kamyonetkurye-1d768.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1033869789541:ios:ec2c23229ca8c843fc398c</string>
</dict>
</plist>